 <div class="center jumbotron">
    <h1>Welcome to the litBlog</h1>
    
    <h2>
      This is a light blogging application.
    </h2>
    {{#unless session.isAuthenticated}}
			{{link-to "Sign up now!" 'index' class="btn btn-lg btn-primary"}}	
			<h1>Users</h1>
			<ul>
			  {{#each model.users as |user|}}
			    <li>{{user.name}} and {{user.email}}</li>
			  {{/each}}
			</ul>
			
			<h1>Posts</h1>
			
			<ul>
			  {{#each model.posts as |post|}}
			    <li>{{post.content}} by {{post.user_id}}</li>
			  {{/each}}
			</ul>	
		
	{{/unless}}
    
</div>
